:root { 
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --lighter-background: #ecf0f1;
    --darker-background: #ecf0f171;
    --text-color: #2c3e50;
}
body {
  font-family: 'Roboto', sans-serif;
  
  
}
.page { 
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.main-content {
    flex: 1;                  
    display: flex;            
    flex-direction: column;
}
.sidebar {
    width: 30%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.head-section {
    background-color: var(--darker-background);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.signup {
    background-color: var(--primary-color);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.create-account {
    background-color: var(--darker-background);
    color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.plant {
    width: 100%;
    height: 100%;
    object-fit: cover;
}